<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Add New Room</title>
    </head>
    <body>
        <h1>Add New Room</h1>
        {% if messages %}
        <div class="messages-container" style="margin-top: 15px;">
                {% for message in messages %}
                    <p style="font-weight: bold; {% if message.tags == 'success' %}color: green;{% else %}color: red;{% endif %}">
                        {{ message }}
                    </p>
                {% endfor %}
            </div>
        {% endif %}
        <div>
            <form action="" method="post">
                {% csrf_token %}
                <label>
                    Room Name:
                    <input type="text" name="name">
                </label>
                <label>
                    Room Capacity:
                    <input type="number" name="capacity" min="1" step="1" value="10">
                </label>
                <input type="checkbox" id="hasProjector" name="hasProjector" value="true">
                <label for="hasProjector">Projector availability</label>

                <button type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>